body 
{
    background: linear-gradient(180deg, #070008 0%, #9C05B5 53.13%, #080009 100%);
    color: white;
    overflow-x: hidden;
}

.hero-section{
    width:100%;
    height:60px;
    position: relative;
    top:0px;
    display: flex;
    align-items: center;
}
.hero-section p{
    font-size:50px;
    top:0px;
    font-weight: 900;
    font-family: 'Goblin One', cursive;
}

.btn-section
{
    margin-top:5px;
    display: flex;
    width:100%;
    height:60px;
    align-items: center;
}

.textKeyboard{
    margin-top: 5px;
    display: flex;
    align-items: center;
    gap:5px;
}

.checkSection
{
    margin-top: 30px;
    position: relative;
    left:15%;
}

.display 
{
    color: #f1e7e7;
    display: none;
}

.timer
{
    height:50px;
    width:50px;
    text-align: center;
    padding-top:13px;
    box-sizing: border-box;
    margin-left:3%;
    visibility: hidden;
    font-size: 25px;
    font-weight: 900;   
}

.generateText
{
    width: 150px;
    height: 52px;
    text-align: center;
    font-size: 17px;
    font-weight: 900;
    margin-left: 45%;
    border-radius: 9px;
    border: 1px solid #831B85;
    background: linear-gradient(180deg, #42024C 0%, rgba(226, 223, 226, 0.00) 100%);
    color: #ffffff;
}

.generateText:hover{
    cursor: pointer;
}

.generate
{
    height:250px;
    width:800px;
    font-size: 20px;
    font-weight: 600;
    border: 2px solid white;
    border-radius: 10px;
    padding:15px 15px;
    box-sizing: border-box;
}

.keyboard
{
    width:600px;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: #000000;
}

.upperKeys button,.midKeys button, .endKeys button
{
    height: 50px;
    width:50px;
    border: 2px solid white;
    background-color: #D9D9D9;
    color: #000000;
    font-weight: 600;

}

.spaceBar button
{
    width: 265px;
    height:50px;
    background-color: #D9D9D9;
    color: #000000;
    font-weight: 600;
    border: 2px solid white;
} 

textarea
{
    resize: none;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 400;
    padding: 10px 15px;
    box-sizing: border-box;
}



.refresh
{
    width:60px;
    height:30px;
    position: relative;
    left:50%;
    visibility: hidden;
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    top:40px;
}

.refresh:hover
{
    cursor: pointer;
}

.footer
{
    position: relative;
    top:0px;
}