body
{
    background: linear-gradient(180deg, #070008 0%, #9C05B5 53.13%, #080009 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.top
{
    font-family: 'Goblin One', cursive;
    height: 100px;
    width:100%;
}

.mid
{
    height:350px;
    width:60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stats
{
    width:600px;
    height:150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 40px;
}

.wpm , .acc, .characters, .time
{
    color: rgba(194, 190, 190, 1)
}

.wpmVal, .accVal, .timeVal, .charVal{
    color: rgba(251, 7, 212, 1)
}

.footer
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}