@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
body
{
    background: linear-gradient(180deg, #070008 0%, #9C05B5 53.13%, #080009 100%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    width: 1540px;
    height: 797px;
    overflow: hidden;;
}

.top
{
    letter-spacing: 0.1em;
    font-family: 'Goblin One', cursive;
    height: 100px;
    width:100%;
}

.msg{
    letter-spacing: 4px;
    text-align: center;
}

.mid
{
    font-family: 'Inter', sans-serif;
    height:350px;
    width:60%;
    position: relative;
    left:-5%;
}

.stats
{
    width:600px;
    height:150px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    margin-left: 144px;
}

.wpm{
    margin-top: 44px;
    margin-left: 210px;
    margin-bottom: 44px;
}

.wpm , .acc, .characters, .time
{   
    font-family: 'Inter', sans-serif;
    color: #C2BEBE;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: 1px; 
}

.wpmVal, .accVal, .timeVal, .charVal{
    color: #FB07D4;
    font-family: Inter;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 1px; 
}

.footer
{
    width: 100%;
    height: 100px;
    letter-spacing: 0.1em;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    left:-80px;
}

A {
    text-decoration: none;
    color: white;
}

.refresh{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: white;
}